arch/airootfs/etc/pacman.d/mirrorlist
arch/airootfs/etc/options/override/*
arch/airootfs/home/zero/.ssh/*

ansible/inventory

ansible/playbooks/roles/nginx/files/ssl/*
!ansible/playbooks/roles/nginx/files/ssl/.gitignore

ansible/playbooks/roles/stockfinder/files/connection/*
!ansible/playbooks/roles/stockfinder/files/connection/.gitignore
